table {
    border-collapse: collapse;
 
  }
  
  td {
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    border: 2px solid black;
  }
.low {
  height: 40px;
}